.wikiapple:active {
    border: 10px solid greenyellow;
}
.wikimicrosoft:active {
    border: 10px solid greenyellow;
}
.wikigoogle:active {
    border: 10px solid greenyellow;
}
.wikifacebook:active {
    border: 10px solid greenyellow;
}
.wikitencent:active {
    border: 10px solid greenyellow;
}